<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="field">
    <%= f.label :name %>
    <div class="center-block"><%= f.text_field :name %></div>
  </div>



  <div class="field">
    <%= f.label :department %>
    <div class="center-block"> <%= f.text_field :department %></div>
  </div>

  <div class="field">
    <%= f.label :myskills %>
    <div class="center-block"><%= f.text_field :myskills %></div>
  </div>

  <div class="field">
    <%= f.label :wantedskills %>
    <div class="center-block"><%= f.text_field :wantedskills %></div>
  </div>

  <div class="field">
    <%= f.label :location %>
    <div class="center-block"><%= f.text_field :location %></div>
  </div>

  <div class="field">
    <%= f.label :available %>
    <%= f.check_box :available %>
  </div>

  <div class="field">
    <%= f.label :mentor %>
    <%= f.check_box :mentor %>
  </div>

  <div class="field">
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>

  <div class="field">
    <%= f.label :personal %>
    <div class="center-block"><%= f.text_field :personal %></div>
  </div>

  <div class="actions button-spec">
    <%= f.submit %>
  </div>


<% end %>
